<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiTrangTraiBoSua.Properties.Settings.QuanLiTrangTraiConnectionString"
            connectionString="Data Source=LAPTOP-3AT325ER;Initial Catalog=QuanLiTrangTrai;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>